---
layout: base
---
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config"> 
  MathJax.Hub.Config({
    tex2jax: {
	   inlineMath: [['$','$'], ['$$','$$']],
	               processEscapes: true },
        jax: ["input/TeX", "output/SVG"],
	menuSettings : {
	zoom : "Double-Click" ,
	mpContext : true ,
	mpMouse : true 
	},
	errorSettings : { message : [ "[잘못된 수식을 넣었습니다] " ] }
	}); 
</script>



<header>
	{% include post.html post=page link_title=false %}

	{% include about.html %}

	{% include related.html post=page %}
</header>




